<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  IgnorableNamespaces="uap mp uap3">

  <Identity
    Name="18565GridEntertainment.SoundByte"
    Publisher="CN=5430F451-EAAC-423C-9CF5-6A0F7E5A9498"
    Version="20.0.2.0" />

  <mp:PhoneIdentity PhoneProductId="3f7a5c76-139a-4cf1-b9eb-08b7b3c86e94" PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>SoundByte - YouTube &amp; SoundCloud Music Player</DisplayName>
    <PublisherDisplayName>Grid Entertainment</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="SoundByte.App.UWP.App">
      <uap:VisualElements
        DisplayName="SoundByte - Music Player"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="SoundByte is a music client for Windows 10 and Xbox One"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" Square71x71Logo="Assets\Square71x71Logo.png" ShortName="SoundByte">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square310x310Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="#e2e2e2" uap5:Optional="true" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="landscapeFlipped"/>
          <uap:Rotation Preference="portraitFlipped"/>
          <uap:Rotation Preference="portrait"/></uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="soundbyte">
            <uap:Logo>Assets\CircleLogo.png</uap:Logo>
            <uap:DisplayName>SoundByte</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="audio_file">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/mp3">.mp3</uap:FileType>
              <uap:FileType ContentType="audio/wav">.wav</uap:FileType>
              <uap:FileType ContentType="audio/ogg">.ogg</uap:FileType>
              <uap:FileType ContentType="audio/flac">.flac</uap:FileType>
              <uap:FileType ContentType="audio/x-aiff">.aif</uap:FileType>
              <uap:FileType ContentType="audio/x-ms-wma">.wma</uap:FileType>
              <uap:FileType ContentType="video/mp4">.mp4</uap:FileType>
              <uap:FileType ContentType="audio/x-m4a">.m4a</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Audio File</uap:DisplayName>
            <uap:Logo>Assets\CircleLogo.png</uap:Logo>
            <uap:InfoTip>Play in SoundByte</uap:InfoTip>
            <uap:EditFlags OpenIsSafe="true"/>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.dialProtocol">
          <uap:DialProtocol Name="soundbyte-cast"/>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <uap3:Capability Name="backgroundMediaPlayback" />
  </Capabilities>
</Package>